/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Dark background*/
    color: #e0e0e0; /* Light text color */
  }
  nav {
    background-color: white;
    color: black;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  nav ul {
    list-style-type: square;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    color: black;
    text-shadow: 2px 2px 2px rgba(255, 0, 0, 0.927);
   -webkit-text-stroke: 1px;
   -webkit-text-stroke-color: rgb(255, 149, 2);
  }
  
  nav ul li {
    margin: 0 20px;
  }
  
  nav ul li a {
    color: black; /* Light text for nav links */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #f01800; /* Highlight on hover */
  }
  
  header {
    color: white;
    padding: 20px 60px;
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;  /* Applying the pixel font */
    margin-top: 70px;
    margin-bottom: auto;
    text-shadow: 2px 2px 8px rgba(255, 0, 0, 0.927);
   -webkit-text-stroke: 2.5px;
   -webkit-text-stroke-color: rgb(255, 188, 3);
  }
  
  header h1 {
    font-size: 3em;
    font-weight: bolder;
  }

  header p {
    font-size: 12px;
  }

  header button a {
    color: #ecf0f1; /* Light text for nav links */
    text-decoration: none;
    font-weight: lighter;
  }
  
  header button {
    background-color: #ffae00; /* Bright red button */
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  header button:hover {
    background-color: #da9500; /* Darker red on hover */
  }
  
  header img {
    width: 100%;
    max-width: 600px;
    margin-top: 30px;
  }
  
  /* why Section */
  #whys {
   
    background-color: #ca0000; /* Darker background for features */
    text-align: center;
  }
  
  .why-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .why-item {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    background-color: white; /* Dark background for each feature */
    border-radius: 10px;
    margin: 10px;
    border: 1px solid;
    box-shadow: 10px 10px #850000;
  }
  
  .why-item img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #000000;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  .why-item h3 {
    color: #f3a600;
    margin-top: 15px;
  }
  
  .why-item p {
    color: black; /* Lighter text for descriptions */
  }
  
  @media (max-width: 768px) {
    .why-item {
      width: 100%;
      margin-bottom: 20px;
    }
  }

 
  /* Footer */
  footer {
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f; /* Dark footer background */
    color: white;
  }
  
  footer p {
    margin: 0;
  }
  